In [1]:
import pandas as pd

In [29]:
df_teste = pd.read_csv('../data_bloomberg/AKAM_data.csv', index_col=0).copy()

In [30]:
df_teste.head()

,AKAM US Equity,AKAM US Equity.1,AKAM US Equity.2,AKAM US Equity.3,AKAM US Equity.4,AKAM US Equity.5
NaN,PX_LAST,PX_OPEN,PX_HIGH,PX_LOW,PX_VOLUME,CUR_MKT_CAP
2014-01-02,46.53,47.11,47.1799,46.42,935107.0,8327.8
2014-01-03,46.45,46.68,46.96,46.27,960420.0,8313.4819
2014-01-06,46.11,46.4,46.58,45.8,1754527.0,8252.6297
2014-01-07,47.01,46.25,47.14,46.01,1480028.0,8413.709

In [ ]:
df_teste

In [16]:
import pandas as pd

# Load the CSV file
data = pd.read_csv('../data_bloomberg/AKAM_data.csv', index_col=0, parse_dates=True).copy()

# Inspect the first few rows to understand the structure
# Define the ticker and corresponding column names
ticker = 'AKAM'
px_last_col = 'AKAM US Equity.1'
px_open_col = 'AKAM US Equity.2'
px_high_col = 'AKAM US Equity.3'
px_low_col = 'AKAM US Equity.4'
px_volume_col = 'AKAM US Equity.5'
cur_mkt_cap_col = 'AKAM US Equity'

# Filter and rename columns
filtered_data = data[[px_last_col, px_open_col, px_high_col, px_low_col, px_volume_col, cur_mkt_cap_col]]
filtered_data.rename(columns={
    px_last_col: 'PX_LAST',
    px_open_col: 'PX_OPEN',
    px_high_col: 'PX_HIGH',
    px_low_col: 'PX_LOW',
    px_volume_col: 'PX_VOLUME',
    cur_mkt_cap_col: 'CUR_MKT_CAP'
}, inplace=True)

# Add a column for the ticker name
filtered_data['Ticker'] = ticker

# Ensure the date column is the index

# Print the updated DataFrame

# Save the updated DataFrame to a new CSV file

In [22]:
filtered_data

,PX_LAST,PX_OPEN,PX_HIGH,PX_LOW,PX_VOLUME,CUR_MKT_CAP,Ticker
NaT,PX_OPEN,PX_HIGH,PX_LOW,PX_VOLUME,CUR_MKT_CAP,PX_LAST,AKAM
2014-01-02,47.11,47.1799,46.42,935107.0,8327.8,46.53,AKAM
2014-01-03,46.68,46.96,46.27,960420.0,8313.4819,46.45,AKAM
2014-01-06,46.4,46.58,45.8,1754527.0,8252.6297,46.11,AKAM
2014-01-07,46.25,47.14,46.01,1480028.0,8413.709,47.01,AKAM
...,...,...,...,...,...,...,...
2024-08-06,91.98,94.0,91.47,1671847.0,14061.8637,92.32,AKAM
2024-08-07,93.28,94.86,92.45,1256698.0,14110.605,92.64,AKAM
2024-08-08,92.62,93.32,91.275,4538516.0,13875.2148,91.57,AKAM
2024-08-09,98.01,102.69,97.78,6536607.0,15381.3809,101.51,AKAM
2024-08-12,101.22,101.655,99.87,667965.0,15212.4292,100.395,AKAM

In [36]:
import pandas as pd

# Load the CSV file with proper handling for headers
data = pd.read_csv('../data_bloomberg/AKAM_data.csv', header=[0, 1], index_col=0, parse_dates=True).copy()
# Inspect the DataFrame to understand the structure

# Identify and drop any extra header rows or misaligned data
# Assuming the extra header row is in index 0
#the first column is date but it doesnt have date as a name
data.columns = data.columns.get_level_values(1)
data.index.name = 'Date'



# Reset the index to get 'Date' as a column if it is not correctly set
data.reset_index(inplace=True)

data.set_index('Date', inplace=True)

# Rename columns if necessary and add Ticker column
data.rename(columns={
    'AKAM US Equity.1': 'PX_LAST',
    'AKAM US Equity.2': 'PX_OPEN',
    'AKAM US Equity.3': 'PX_HIGH',
    'AKAM US Equity.4': 'PX_LOW',
    'AKAM US Equity.5': 'PX_VOLUME',
    'AKAM US Equity': 'CUR_MKT_CAP'
}, inplace=True)

# Add Ticker column
data['Ticker'] = 'AKAM'

# Print the cleaned DataFrame
print(data.head(10))

# Save the cleaned DataFrame to a new CSV file
data.to_csv('data_cleaned_test.csv')

            PX_LAST  PX_OPEN  PX_HIGH  PX_LOW  PX_VOLUME  CUR_MKT_CAP Ticker
Date
2014-01-02    46.53    47.11  47.1799  46.420   935107.0    8327.8000   AKAM
2014-01-03    46.45    46.68  46.9600  46.270   960420.0    8313.4819   AKAM
2014-01-06    46.11    46.40  46.5800  45.800  1754527.0    8252.6297   AKAM
2014-01-07    47.01    46.25  47.1400  46.010  1480028.0    8413.7090   AKAM
2014-01-08    46.68    46.99  47.2600  46.650  2228498.0    8354.6466   AKAM
2014-01-09    47.62    46.78  47.9100  46.765  1687655.0    8522.8850   AKAM
2014-01-10    48.20    47.78  48.2400  47.630  1425392.0    8626.6916   AKAM
2014-01-13    46.30    48.17  48.1700  45.860  2134410.0    8286.6353   AKAM
2014-01-14    47.44    46.27  47.5200  46.220  1538628.0    8490.6691   AKAM
2014-01-15    49.15    47.56  49.4900  47.350  2829333.0    8796.7198   AKAM

In [40]:
import pandas as pd

# Assume consolidated_data is already loaded and formatted correctly
consolidated_data = pd.read_csv('../data_bloomberg_clean/consolidated_data.csv').copy()

consolidated_data.head()

,Date,PX_LAST,PX_OPEN,PX_HIGH,PX_LOW,PX_VOLUME,CUR_MKT_CAP,Ticker
0,2014-01-02,76.27,76.04,76.500,75.90,5212460.0,134027.7199,DIS
1,2014-01-03,76.11,76.30,76.697,76.01,4061042.0,133746.5552,DIS
2,2014-01-06,75.82,76.53,76.840,75.49,6816693.0,133236.9441,DIS
3,2014-01-07,76.34,76.12,76.700,75.90,4511157.0,134150.7295,DIS
4,2014-01-08,75.22,76.13,76.280,74.81,10914858.0,132182.5763,DIS